/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#scanFleur {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 130vh;
    width: 100vw;
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#scanFleur h2 {
    padding-top: 100px;
    font-family: cursive;
    text-align: center;
    font-size: 4rem;
    margin: none;
}

#scanFleur .continueBtn {
    border: solid 5px #71510d;
    border-radius: 20px;
    font-family: 'Lato';
    font-size: 3rem;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #c89017;
    color: rgb(255, 255, 255);
}

#scanFleur #map {
    display: block;
    margin: auto;
    height: 25vh;
    width: 80vw;
    margin-bottom: 2vh;
}

#scanFleur h1 {
    color: #000;
    text-align: center;
    font-size: 6rem;
    padding-bottom: 40px;
}

#scanFleur h4 {
    color: #000;
    text-align: center;
    font-size: 3rem;
}

#scanFleur #descr {
    color: #000;
    text-align: justify;
    font-size: 2.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

#scanFleur .gainFleur {
    display: block;
}

#scanFleur .fleur {
    float: left;
    height: 100%;
    width: 50%;
}

#scanFleur h3 {
    color: #000;
    text-align: center;
    font-size: 3rem;
}

#scanFleur .icon {
    float: left;
    margin-left: 100px;
    width: 10%;
}

#scanFleur .leave {
    border: solid 5px #71510d;
    border-radius: 20px;
    font-family: 'Lato';
    font-size: 1.5rem;
    padding: 15px 60px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: #645a44;
    color: rgb(255, 255, 255);
}

#scanFleur p {
    vertical-align: bottom;
    font-size: 4rem;
}

#accueil {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/fond.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

#victoire {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-image: url("../img/fond.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

#accueil button {
    border: solid 5px #71510d;
    border-radius: 20px;
    font-family: 'Lato';
    font-size: 3rem;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #c89017;
    color: rgb(255, 255, 255);
}

#accueil h1 {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #c89017;
    border-bottom: solid #c89017 7px;
}

#accueil img {
    display: block;
    margin: auto;
}

#accueil .legalMention {
    text-align: center;
    margin-top: 150px;
    font-size: 3.5rem;
    font-family: 'Lato';

}

#accueil .legalMention:hover {
    cursor: pointer;
    text-decoration: underline;
}

#bandeau {
    background-color: #c89017;
    height: 50px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saisiecode {
    display: none;
    height: 100vh;
}

#victoire {
    display: none;
    height: 100vh;
    background-image: url("../img/fond.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

#victoire h1 {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #c89017;
    border-bottom: solid #c89017 7px;
}

#victoire h3 {
    font-family: cursive;
    text-align: center;
    font-size: 4rem;
}

#victoire h5 {
    font-family: cursive;
    text-align: center;
    font-size: 4rem;
}

#victoire img {
    display: block;
    margin: auto;
}

/* General button style */
#victoire .btn {
    border: none;
    font-family: 'Lato';
    font-size: 3rem;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#victoire .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
#victoire .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Icon separator */
#victoire .btn-sep {
    padding: 25px 60px 25px 120px;
}

#victoire .btn-sep:before {
    background: rgba(0, 0, 0, 0.15);
}

/* Button 1 */
#victoire .btn-1 {
    background: #c89017;
    color: rgb(255, 255, 255);
}

#victoire .btn-1:hover {
    background: #dc9600;
}

#victoire .btn-1:active {
    background: #dc9600;
    top: 2px;
}

#victoire .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 1.8;
    font-size: 140%;
    width: 100px;
}

#victoire .icon-bee:before {
    content: "\f188";
}